<div class="mb-4">
    <h2 class="mb-4">About ES Compute Project</h2>
    <h6 class="mb-2">Blog Web Application with Post(CRUD), Authorization & Authentication</h6>

    <div class="row mb-4">
        <div class="col-md-5">
            <img src="assets/prototype.svg" height="200px" alt="About ES Compute" class="img-fluid">
        </div>
        <div class="col-md-7">
            <!-- <h3><u>About Project</u></h3> -->
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    Application Features
                </button>
                <button type="button" class="list-group-item list-group-item-action"><b>Post</b>: List, View, Create,
                    Update,
                    Delete</button>
                <button type="button" class="list-group-item list-group-item-action"><b>Authentication</b>: Login &
                    Register</button>
                <button type="button" class="list-group-item list-group-item-action"><b>Authorization</b>: Only Post
                    Owner
                    can Edit/Delete Post</button>
                <button type="button" class="list-group-item list-group-item-action"><b>Search</b> Posts with
                    titles</button>
            </div>
        </div>
    </div>
    <hr>

    <div class="row mt-4 mb-4">

        <div class="col-md-7">
            <!-- <h3><u>About Project</u></h3> -->
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    Angular Features Used
                </button>
                <button type="button" class="list-group-item list-group-item-action"><b>Components</b>: Static & Dynamic
                    Components</button>
                <button type="button" class="list-group-item list-group-item-action"><b>Directives</b>:Angular
                    Directives</button>
                <button type="button" class="list-group-item list-group-item-action"><b>Forms</b>: Angular Templates
                    based &
                    Reactive Forms</button>
                <button type="button" class="list-group-item list-group-item-action"><b>RxJs</b> RxJs Reactive
                    extension</button>

                <button type="button" class="list-group-item list-group-item-action"><b>HTTP</b> Angular HTTP
                    module</button>
                <button type="button" class="list-group-item list-group-item-action"><b>Interceptor</b> Http
                    Interceptors</button>

                <button type="button" class="list-group-item list-group-item-action"><b>Route</b> Angular Routes &
                    Guard</button>
            </div>
        </div>
        <div class="col-md-5">
            <img src="assets/process.svg" height="200px" alt="About ES Compute" class="img-fluid">
        </div>
    </div>
    <hr>
</div>